.state-container{
    background-color: #B2B2B2;
    box-shadow: 0px 0px 34px -23px #000;
    padding: 10px;
    margin: 13px 0;
    position: relative;
}
.state-title{
    text-align: center;
}
.state-button--check{
    position: absolute;
    right: 20px;
    bottom: 10px;
    background-color: #00ABB3;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    height: 30px;
    width: 100px;
    color: #3C4048;
    margin-left: 16px;
    font-weight: bold;
}
.state-input{
    background-color: #F9FBFC;
    border: 2px solid #3C4048;
    border-radius: 2px;
    box-shadow: 0px 5px 50px #B2B2B2;
    color: #1E1E1F;
    text-align: center;
    padding: 6px;
    width: 50%;
}