body {
  margin: 0;
  padding: 0;
  background-color: #EAEAEA;
  color: #181D31;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}
#root {
  margin: 0 24px;
  position: relative;
  min-height: 100vh;
}